name: Java CI (Maven) - Spring PetClinic

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "maven"

      - name: Build & Test (Maven Wrapper)
        run: |
          chmod +x mvnw
          ./mvnw -B clean verify

      - name: Upload build artifact (JAR)
        uses: actions/upload-artifact@v4
        with:
          name: petclinic-jar
          path: target/*.jar
